<section id="networkform">
    <h4>Add a new network</h4>
    <a href="#/"><i class="fa fa-close"></i></a>
    <form name="form" data-ng-submit="processForm()">
        <h5>Network details</h5>
        <div class="left">
            <input type="text" placeholder="SSID" data-ng-model="network.ssid">
            <span data-show="errors.ssid" class="error">{{ errors.ssid }}</span>
            <input type="checkbox" id="box_hasPassword" data-ng-model="network.hasPassword" data-ng-true-value="true">
            <label for="box_hasPassword">Password protected</label>
        </div>
        <div class="right" data-ng-show="network.hasPassword">
            <input type="text" placeholder="Password" data-ng-model="network.password">
            <span data-show="errors.password" class="error">{{ errors.password }}</span>
        </div>
        <h5>Network location</h5>
        <div class="left">
            <input type="text" placeholder="Name" data-ng-model="network.location.name">
            <span data-show="errors.location.name" class="error">{{ errors.location.name }}</span>
            <input type="text" placeholder="Address" data-ng-model="network.location.address">
            <span data-show="errors.location.address" class="error">{{ errors.location.address }}</span>
            <input type="number" placeholder="Postal code" data-ng-model="network.location.zip">
            <span data-show="errors.location.zip" class="error">{{ errors.location.zip }}</span>
            <input type="text" placeholder="Country" data-ng-model="network.location.country">
            <span data-show="errors.location.country" class="error">{{ errors.location.country }}</span>
        </div>
        <div class="location right">
            <input type="text" placeholder="Cross street" data-ng-model="network.location.crossStreet">
            <span data-show="errors.location.crossStreet" class="error">{{ errors.location.crossStreet }}</span>
            <input type="text" placeholder="City" data-ng-model="network.location.city">
            <span data-show="errors.location.city" class="error">{{ errors.location.city }}</span>
        </div>
        <div class="buttons">
            <input type="submit" value="Opslaan" class="btnSubmit">
        </div>
    </form>
</section>