<section id="comments">
    <h4>Comments on &ldquo;{{ network.ssid }}&rdquo;</h4>
    <a href="#/"><i class="fa fa-close"></i></a>
    <ul data-ng-show="network.hasComments">
        <li data-ng-repeat="comment in network.comments">
            {{ comment.comment }}
            <span class="timestamp">
                {{ comment.timestamp }}
            </span>
        </li>
    </ul>
    <p data-ng-show="!network.hasComments">Be the first to start this conversation!</p>
    <form data-ng-submit="processForm()">
        <input type="text" placeholder="Add your comment here" data-ng-model="form.message">
        <input type="submit" value="&#xf1d9;" class="fa">
        <span data-show="errors.network.message" class="error">{{ errors.network.message }}</span>
    </form>
</section>